@model FileUploadMvcApplication.Models.FileUploader

@{
    ViewBag.Title = "title";
}

<h2>File Uploader</h2>


@using (@Html.BeginForm("ProcessUploadedFile", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset>
        @Html.ValidationMessageFor(model => model.UploadFile)
        <br/>
        @Html.TextBoxFor(m => m.UploadFile, null, new { type = "file", @class = "fileupload" })
        <input type="submit" id="submit" value="Upload" />
        <input type="button" id="cancel" value="Cancel" />
    </fieldset>
}
