@model FileUploadMvcApplication.Models.FileUploader

@{
    ViewBag.Title = "title";
}

@using (Html.BeginForm())
{
        <h2>Success!!!</h2>
        <h1>Your file is now listed on <a href="http://test.nationalwesternlife.com/financial_copy.aspx?sub=sec">this</a> page</h1>
        @Model.FileName
}
